@import '~include-media';

.header {
  width: 100%;
  padding: 10px 20px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--mantine-color-default-border);
  background: var(--mantine-color-default-hover);

  button{
    color: var(--mantine-color-violet-filled);
  }
}

.logedIn {
  display: flex;
  align-items: center;
  gap: 10px;
}

.message {
  display: flex;
  align-items: center;
  gap: 5px;
}

.hoverable {
  cursor: pointer;
}
@include media('<tablet'){
  .userName{
    display: none;
  }
}