.button {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  border-radius: 5px;
  border: 1px solid var(--mantine-color-default-border);
  background: var(--mantine-color-body);
  gap: 10px;
  margin: 0 auto;
  cursor: pointer;
  margin-top: 8px;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 150px);
}

.popup {
  border-radius: 15px;
  background-color: var(--mantine-color-default-hover);
  padding: 30px;
  box-shadow: var(--mantine-shadow-xl);
}
