@import '~include-media';

.wrapper {
  height: calc(100vh - 150px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.heading {
  font-size: 86px;
  margin: 0px;
}

.subtext {
  font-size: 20px;
  margin: 0;
  color: var(--mantine-color-gray-6);
}

.grid {
  width: 45%;
  @include media('<tablet'){
    width: 100%;
    padding: 10px 20px;
  }
  margin: 0 auto;
}

.previewBlock {
  display: flex;
  padding: 30px 20px;
  width: 70%;
  margin: 0 auto;

  img {
    border-radius: 10px;
  }
}
