.btn {
  padding: 0.2rem;
  color: var(--mantine-color-violet-filled);
  transition: color .1s;

  &:hover{
    color: var(--mantine-color-violet-filled-hover);
  }

  a {
    text-decoration: none;
  }
}
